- objects ||= []
- hide_pagy ||= false

.d-flex.mb-3.flex-grow-1
  - if objects.present?
    .pagy-wrapper.justify-content-lg-end.justify-content-center
      .d-flex.flex-grow-1
        .flex-1.d-flex.align-items-center.mb-2
          %span= t('shared.pagination_title', from: @pagy.from, to: @pagy.to, total: number_with_delimiter(@pagy.count)).html_safe

  .flex-grow-1
    = yield :pagination_title_center

  - if !hide_pagy && @pagy.pages > 1
    .d-lg-block.d-none
      != pagy_bootstrap_nav(@pagy)
