# Rails configuration
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5

REDIS_URL=redis://redis:6379

# Shell with unicode support
LANG=C.UTF-8

# Mandrill
SETTINGS__SMTP__ADDRESS=smtp.mandrillapp.com
SETTINGS__SMTP__DOMAIN=domain
SETTINGS__SMTP__USER_NAME=email
SETTINGS__SMTP__PASSWORD=api-key
SETTINGS__SMTP__HOST=localhost:3000
SETTINGS__SMTP__DEFAULT_FROM=notifications@example.org

APP_NAME=My Journeys Application
APP_SHORTCUT_NAME=SAF
APP_VERSION=0.0.1
MAXIMUM_DOWNLOAD_RECORDS=10000

# Google
GOOGLE_CLIENT_ID=ID
GOOGLE_CLIENT_SECRET=SECRET

DASHBOARD_URL=URL

#Sentry Logger
SENTRY_LOGGER_DSN=

# Push notification
# 1) Go to https://console.firebase.google.com/
# 2) Create a project
# 3) Go to project setting > General > Copy Project ID
FIREBASE_PROJECT_ID=
# 4) Go to project setting > Service accounts > Click on Generate new private key button and download the json file
# 5) put the file to Rails.root
GOOGLE_APPLICATION_CREDENTIALS_PATH=firebase_service_account_key.json

ASSET_HOST=http://localhost:3000

CONTACT_EMAIL=
CONTACT_PHONE=

# Telegram callback url
TELEGRAM_CALLBACK_URL=https://ngrok.io/api/integration/telegram

# whitelist ip with comma separated
# Telegram ip list: https://ipinfo.io/AS62041#block-ranges
ALLOWED_HOSTS=91.108.4.0,91.108.4.0/22
