- if notice.present?
  .alert.alert-success.alert-dismissible.fade.show.notify-message.ml-2{:role => "alert"}
    = notice
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×

- if resource.errors.any?
  .alert.alert-danger.alert-dismissible.fade.show.notify-message.ml-2{:role => "alert"}
    = I18n.t("errors.messages.not_saved",                 |
      count: resource.errors.count,                       |
      resource: resource.class.model_name.human.downcase) |

    %ul
      - resource.errors.full_messages.each do |message|
        %li= message

    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×

- elsif alert.present?
  .alert.alert-warning.alert-dismissible.fade.show.notify-message.ml-2{:role => "alert"}
    = alert
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×


:javascript
  setTimeout(function() {
    $( ".alert" ).fadeOut( "slow" )
  }, 5000);
