.logo-wrapper.flex-row
  %h3.mb-3.text-center{style: 'width: 300px'}= "#{ENV['APP_NAME']} (#{ENV['APP_SHORTCUT_NAME']})"
  .program.text-center
    = image_tag 'logo.jpg', class: 'logo'
    %h4.title.text-center Safe and Fair
