#confirmPublishModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title{'data-content': t('shared.confirm_publish', name: '_type_')}
          %span.message-title
          / Message title to replace

        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

      .modal-body{'data-content': t('shared.are_you_sure_to_publish', type: "_type_", name: '_name_')}
        / Message body to replace

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t('shared.cancel')

        / Message url to replace
        = button_to t('shared.yes_publish'), '#', method: :put, class: 'btn btn-primary'
