- body_message ||= t('shared.are_you_sure_to_cancel', type: "_type_", name: '_name_')
- title_message ||= t('shared.confirm_cancel', name: '_type_')

#confirmCancelModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title{'data-content': title_message}
          %span.message-title
          / Message title to replace

        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

      .modal-body{'data-content': body_message}
        / Message body to replace

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t('shared.cancel')

        / Message url to replace
        = button_to t('shared.yes_cancel'), '#', method: :put, class: 'btn btn-primary'
