.d-flex
  / filter status
  .d-none= select_tag 'status[]', options_for_select(Notification.statuses.keys, params[:status]), multiple: true

  / filter date
  = render 'shared/filters/filter_date', placeholder: t('notification.search_by_created_at')

  / filter by survey form
  .filter-input.ml-2
    = select_tag 'form_id', options_for_select(Forms::SurveyForm.notification_counts.map {|f| [f.name, f.id]}, params[:form_id]), include_blank: t('notification.any_survey_form'), class: 'form-control custom-select'

  / Search button
  .ms-3
    %button.btn.btn-outline-primary.ml-md-2{type: :submit}
      %i.fas.fa-search
      %span.d-none.d-lg-inline= t('shared.search')
