.preview-background
  .card-box
    .d-flex.align-items-center
      .mr-2
        = image_tag 'myjourney.png', size: '18x18', class: 'rounded'
      .flex-1.small ដំណើរឆ្លងដែនរបស់ខ្ញុំ
      %span.toggle-trigger.pointer
        %i.fas.fa-chevron-down{style: 'font-size: 12px'}

    .text-wrapper.mt-2
      .title.text-truncate
      .text-body.text-truncate
