.alert {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.medium-width {
  width: 90%;
  margin: 0 auto;
}

.view-center {
  margin: 0 auto;
}

.drop-menu-icon {
  width: 30px;
}

.pagy-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  min-height: 38px;
}

.actions {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.file-control-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;

  input:focus {
    outline: none;
  }
}

.tagify {
  height: auto;
}

.filter-input {
  width: 300px;
}

// Custom select Select picker
.bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: #6e707e;
}

.bootstrap-select .dropdown-menu li a {
  color: #6e707e;
  font-size: 0.95rem;
}

.bootstrap-select.form-control {
  border: 1px solid #d1d3e2 !important;
}

.bootstrap-select button {
  color: #6e707e;
  background-color: #fff;
}
// End -- Custom select Select picker
