- url ||= ''
- remote ||= false

- if items.blank?
  .text-center
    %h2= t('shared.no_data_found')
    %p= t('shared.use_plus_to_add_item')

    - if url.present?
      = link_to url, remote: remote, class: "btn btn-primary btn-sm shadow-sm" do
        %i.fas.fa-plus.fa-sm.text-white-50
        = label
