- if item.valid?
  %i.fas.fa-check.text-success

- else
  %span.text-danger.d-flex.align-items-center{'data-bs-toggle' => 'tooltip', 'data-bs-placement': 'left', title: item.errors.full_messages.join(', '), style: 'min-width: 80px;' }
    %i.fas.fa-times.text-danger
    %small.ml-1= t('shared.reason')
