- toggler_variable ||= "advance_search_clinic"

%button.btn.btm-sm.advance-search{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse", :type => "button", "data-toggler-variable" => toggler_variable }
  %span.d-none.d-lg-inline= t('shared.advance_search')
  %i.fas.fa-angle-down
