- field_name ||= "name"
- placeholder ||= t('shared.search_by_name')

.form-group.filter-input
  .input-group
    = text_field_tag(field_name.to_sym, params[field_name.to_sym], class: 'form-control', placeholder: placeholder)

    .input-group-append
      %button.input-group-text{ type: :submit }
        %i.fas.fa-search
