.modal-body
  - @survey.form.questions.each do |question|
    - if answer = @survey.survey_answers.select{|a| a.question_id == question.id}.first.presence
      %div.mb-3.p-1.card{style: 'background-color: rgba(0, 0, 0, 0.05)'}
        %div= question.name
        .d-flex.mt-1
          %div
            - if question.type == 'Questions::Text'
              %strong= answer.value
            - else
              - answer.value.split(',').each do |value|
                .d-flex.align-items-center
                  %i.far.fa-check-circle.mr-2.text-success
                  %strong= value

            - if answer.voice_url.present?
              %audio{controls: true}
                %source{src: answer.voice_url}
