.container
  .row
    .col-12
      - unless signed_in?
        = link_to 'Back', root_path, class: 'btn btn-link'

      %h1.my-4
        .text-center
          លក្ខខណ្ឌប្រតិបត្តិ
        .text-center
          ការប្រើប្រាស់ទូទៅរបស់អ៊ែប

      .main-content.p-3
        %p សូមស្វាគមន៍មកកាន់អ៊ែប “ដំណើរឆ្លងដែនរបស់ខ្ញុំ!”!
        %p លក្ខខណ្ឌប្រតិបត្តិទាំងនេះរៀបរាប់ពីវិធាន និងបញ្ញត្តិ សម្រាប់ការប្រើប្រាស់គេហទំព័រ របស់អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ តាមរយៈ https://myjourneys.info

        %p នៅពេលដែលអ្នកចូលប្រើប្រាស់អ៊ែបនេះ យើងសន្មតថា អ្នកទទួលយកលក្ខខណ្ឌប្រតិបត្តិទាំងនេះ។ សូមបញ្ឈប់ការប្រើប្រាស់អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ ប្រសិនបើអ្នកមិនយល់ស្របទៅនឹងលក្ខខណ្ឌប្រតិបត្តិទាំងអស់ដែលលើកឡើងក្នុងទំព័រនេះ។

        %p ពាក្យខាងក្រោមត្រូវបានប្រើប្រាស់ក្នុងលក្ខខណ្ឌប្រតិបត្តិ អំណះអំណាងឯកជនភាព និងការជូនដំណឹងពីការបដិសេធមិនទទួលខុសត្រូវ និងការព្រមព្រៀងទាំងអស់។ ពាក្យ “អតិថិជន-Client” “អ្នក-You” និង “...របស់អ្នក-Your” សំដៅលើអ្នក ដែលជាអ្នកចុះឈ្មោះចូលប្រើប្រាស់គេហទំព័រនេះ និងអ្នកអនុលោមតាមលក្ខខណ្ឌប្រតិបត្តិរបស់ក្រុមហ៊ុន។ ពាក្យ “ក្រុមហ៊ុន-Company” “ដោយខ្លួនយើង-Oursleves” “ពួកយើង-We” “របស់យើង-Us” និង “យើងខ្ញុំ-We” សំដៅលើក្រុមហ៊ុនរបស់យើង។ ពាក្យ “ភាគី-Party ឬ Parties” ឬ “ យើងខ្ញុំ-Us” សំដៅទាំងលើអតិថិជន និងយើងខ្ញុំផ្ទាល់។ ពាក្យទាំងអស់សុទ្ធតែសំដៅលើការផ្តល់ជូន  ការទទួលយក និងការពិចារណាពីការទូទាត់ចាំបាច់ដើម្បីឱ្យយើងអាចជួយដល់អតិថិជនតាមរបៀបដែលសមស្របបំផុត   សម្រាប់បំពេញសេចក្តីត្រូវការរបស់អតិថិជនទាក់ទងនឹងការការផ្តល់សេវារបស់ក្រុមហ៊ុន ដោយអនុលោមតាមនិងជាកម្មវត្ថុនៃច្បាប់ជាធរមានរបស់ប្រទេសកម្ពុជា។ ការប្រើប្រាស់ពាក្យ ឬពាក្យផ្សេងទៀតក្នុងទម្រង់ឯកវចនៈ ពហុវចនៈ អក្សរធំ និង/ឬបុរសទីបី (គាត់/នាង ឬពួកគេ) គឺអាចប្រើជំនួសឱ្យគ្នាបាន និងកំណត់ថាសំដៅលើន័យដូចគ្នា។

        %h4 Cookies
        %p
          យើងប្រើ cookies។ តាមរយៈការចូលប្រើប្រាស់គេហទំព័រ អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ មានន័យថា អ្នកយល់ព្រមប្រើ cookies ទៅតាមគោលនយោបាយឯកជនភាពរបស់អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ គេហទំព័រអន្តសកម្មភាគច្រើន ប្រើ cookies ដើម្បីអាចឱ្យយើងទាញយកព័ត៌មានលម្អិតរបស់អ្នកប្រើប្រាស់មកវិញនៅពេលចូលប្រើម្តងៗ។

        %p
          គេហទំព័ររបស់យើងប្រើ Cookies ដើម្បីអាចឱ្យផ្នែកមួយចំនួនដំណើរការរលូន នឹងផ្តល់ភាពងាយស្រួលជាងមុនដល់អ្នកដែលចូលប្រើប្រាស់អ៊ែប។ ដៃគូសម្ព័ន្ធ/ដៃគូផ្សព្វផ្សាយមួយចំនួនរបស់យើង ក៏ប្រហែលជាប្រើ Cookies ផងដែរ។

        %h4 អាជ្ញាប័ណ្ណ
        %p លុះត្រាតែមានការបញ្ជាក់ផ្ទុយពីនេះ អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ និង/ឬអ្នកផ្តល់អាជ្ញាប័ណ្ណ ជាម្ចាស់សិទ្ធិកម្មសិទ្ធិបញ្ញាលើសម្ភារៈទាំងអស់ដែលបង្ហាញក្នុងអ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ។ យើងរក្សាសិទ្ធិកម្មសិទ្ធិបញ្ហាទាំងអស់។ អ្នកអាចទទួលបានសិទ្ធិទាំងនេះពីអ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំសម្រាប់ការប្រើប្រាស់ផ្ទាល់ខ្លួន ដែលជាកម្មវត្ថុនៃការរឹតត្បិត ដូចមានកំណត់ក្នុងលក្ខខណ្ឌប្រតិបត្តិទាំងនេះ។

        %p អ្នកមិនត្រូវ៖

        %ul
          %li បោះពុម្ពផ្សាយឡើងវិញនូវសម្ភារៈពីអ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ
          %li លក់ ជួល ឬផ្តល់អាជ្ញាប័ណ្ណបន្តលើសម្ភារៈពីអ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំផលិតឡើងវិញ ចម្លងតាម ឬថតចម្លងសម្ភារៈពីអ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ
          %li ចែកចាយឡើងវិញនូវខ្លឹមសារពីអ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ។

        %p អ៊ែបនេះផ្តល់ ឱកាសឱ្យអ្នកប្រើប្រាស់បង្ហោះ និងផ្លាស់ប្តូរទស្សនៈ និងព័ត៌មានក្នុងផ្នែកមួយចំនួននៃគេហទំព័រ។ អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ មិនចម្រាញ់ (filter) ពិនិត្យផ្ទៀងផ្ទាត់ (edit) បោះពុម្ពផ្សាយ (publish) ឬពិនិត្យ (review) មតិយោបល់  មុននឹងបង្ហាញមតិយោបល់ទាំងនោះក្នុងគេហទំព័រឡើយ។ មតិយោបល់ទាំងឡាយមិនឆ្លុះបញ្ចាំងពីទស្សនៈ និងការយល់ឃើញរបស់អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំភ្នាក់ងារ និង/ឬសម្ព័ន្ធរបស់គេហទំព័រនេះឡើយ ប៉ុន្តែឆ្លុះបញ្ចាំងពីទស្សនៈ និងការយល់ឃើញរបស់អ្នកបង្ហោះ។ ផ្អែកតាមការអនុញ្ញាតដោយច្បាប់ជាធរមាន អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ មិនទទួលខុសត្រូវលើមតិយោបល់ ឬបំណុល ការខូចខាត ឬចំណាយណាមួយដែលបណ្តាលមកពី និង/ឬបង្កឡើងដោយការប្រើប្រាស់ និង/ឬការបង្ហោះ និង/ឬការលេចឡើងនៃមតិយោបល់ក្នុងគេហទំព័រនេះឡើយ។

        %p អ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ រក្សាសិទ្ធិក្នុងការត្រួតពិនិត្យរាល់មតិយោបល់ទាំងអស់ និងដកចេញនូវមតិយោបល់ណាដែលចាត់ទុកថាមិនសមស្រប មានលក្ខណៈបំពាន ឬបង្កជាការរំលោភលក្ខខណ្ឌប្រតិបត្តិទាំងនេះ។

        %p អ្នកធានាអះអាង និងបញ្ជាក់ថា ៖

        %ul
          %li អ្នកមានសិទ្ធិបង្ហោះមតិយោបល់ក្នុងគេហទំព័ររបស់យើង និងមានអាជ្ញាប័ណ្ណចាំបាច់ទាំងអស់ និងទទួលបានការយល់ព្រមឱ្យធ្វើដូច្នេះ។
          %li មតិយោបល់ទាំងឡាយមិនរំលោភសិទ្ធិកម្មសិទ្ធិបញ្ញា រួមទាំងសិទ្ធិថតចម្លងគ្មានដែនកំណត់ ប៉ាតង់ ឬពាណិជ្ជសញ្ញារបស់ភាគីទីបី។
          %li មតិយោបល់ទាំងឡាយគ្មានសម្ភារៈដែលបរិហារកេរ្តិ៍ ប្រមាថ បំពាន មិនសមរម្យ ឬខុសច្បាប់ដែលជាការរំលោភលើឯកជនភាព។
          %li មតិយោបល់ទាំងឡាយ នឹងមិនត្រូវបានប្រើប្រាស់ដើម្បីរៃអង្គាស ឬផ្សព្វផ្សាយពាណិជ្ជកម្ម ឬទំនៀមទម្លាប់ ឬបង្ហាញសកម្មភាពពាណិជ្ជកម្ម ឬសកម្មភាពខុសច្បាប់។
        %p មានន័យថា អ្នកផ្តល់អាជ្ញាប័ណ្ណមិនផ្តាច់មុខដល់គេហទំព័រ My Journeys ក្នុងការប្រើប្រាស់ ផលិតឡើងវិញ ពិនិត្យផ្ទៀងផ្ទាត់ និងអនុញ្ញាតឱ្យអ្នកផ្សេងទៀតប្រើប្រាស់ ផលិតឡើងវិញ និងពិនិត្យផ្ទៀងផ្ទាត់មតិយោបល់របស់អ្នកក្នុងទម្រង់ បែបបទ ឬបណ្តាញផ្សព្វផ្សាយណាមួយ និងទាំងអស់។

        %h4 តំណភ្ជាប់ (Hyperlink) ទៅនឹងខ្លឹមសាររបស់យើង
        %p ស្ថាប័នខាងក្រោមអាចតភ្ជាប់ទៅនឹងគេហទំព័ររបស់យើង ដោយគ្មានការអនុម័តជាលាយលក្ខណ៍អក្សរជាមុន៖
        %ul
          %li ស្ថាប័នរដ្ឋាភិបាល
          %li កម្មវិធីស្វែងរក (search engine)
          %li ស្ថាប័នសារព័ត៌មាន
          %li អ្នកចែកចាយសៀវភៅរាយឈ្មោះ និងទីលំនៅ (directory) តាមប្រព័ន្ធអ៊ីនធឺណិត អាចតភ្ជាប់ទៅនឹងគេហទំព័ររបស់យើង តាមរបៀបដូចគ្នានៃការតភ្ជាប់ទៅនឹងគេហទំព័ររបស់អាជីវកម្មផ្សេងទៀត និង

          %li អាជីវកម្មដែលមានការទទួលស្គាល់ទូទាំងប្រព័ន្ធ (System wide Accredited Businesses) លើកលែងតែអង្គការមិនមែនរដ្ឋាភិបាល  កម្មវិធីសប្បុរសធម៌ និងក្រុមរៃអង្គាសមូលនិធិដើម្បីសប្បុរសធម៌ដែលអាចមិនតភ្ជាប់ (hyperlink) ទៅនឹងគេហទំព័ររបស់យើង។
        %p ស្ថាប័នទាំងនេះអាចតភ្ជាប់ទៅនឹងទំព័រដើម (home page) របស់យើង លុះត្រា ១) មិនមានបំណងបោកបញ្ឆោត ២) មិនបង្ហាញការទំនុកបម្រុង ការអនុម័ត ឬការយល់ព្រមក្លែងក្លាយរបស់ភាគីដែលជាប់ពាក់ព័ន្ធ និងផលិតផល និង/ឬសេវារបស់ភាគីនោះ និង ៣) សមស្របទៅនឹងបរិបទនៃគេហទំព័ររបស់ភាគីដែលជាប់ពាក់ព័ន្ធ។

        %p យើងអាចពិចារណា និងអនុម័តលើសំណើតំណភ្ជាប់ផ្សេងទៀតពីប្រភេទស្ថាប័នដូចខាងក្រោម ៖
        %ul
          %li ប្រភពព័ត៌មានអ្នកប្រើប្រាស់ និង/ឬអាជីវកម្មដែលគេស្គាល់ជាទូទៅ
          %li គេហទំព័រសហគមន៍ dot.com
          %li សមាគម ឬក្រុមផ្សេងទៀតដែលតំណាងឱ្យសប្បុរសធម៌
          %li អ្នកចែកចាយសៀវភៅរាយឈ្មោះ និងកម្រងព័ត៌មាន តាមប្រព័ន្ធអ៊ីនធឺណិត
          %li ផតថលអ៊ីនធឺណិត
          %li ក្រុមហ៊ុនគណនេយ្យ ក្រុមហ៊ុនច្បាប់ និងក្រុមហ៊ុនផ្តល់សេវាពិគ្រោះយោបល់ និង
          %li គ្រឹះស្ថានអប់រំ និងសមាគមជំនួញ។

        %p យើងនឹងអនុម័តសំណើសុំតំណភ្ជាប់ពីស្ថាប័នទាំងនេះ ប្រសិនបើយើងសម្រេចថា ១) តំណភ្ជាប់នោះនឹងមិនធ្វើឱ្យយើងបង្កភាពមិនអនុគ្រោះចំពោះក្រុមហ៊ុនរបស់យើងផ្ទាល់ ឬអាជីវកម្មដែលមានការទទួលស្គាល់របស់យើង ២) ស្ថាប័ននោះគ្មានកំណត់ត្រាមិនល្អជាមួយក្រុមហ៊ុនរបស់យើង ៣) អត្ថប្រយោជន៍ដែលយើងទទួលបានពីការស្តែងឡើងនៃតំណភ្ជាប់នោះ ប៉ះប៉ូវការខាតបង់ដោយសារការមិនស្តែងឡើងនៃគេហទំព័រ My Journeys និង ៤) តំណភ្ជាប់នោះស្ថិតក្នុងបរិបទនៃព័ត៌មានធនធានទូទៅ។
        %p ស្ថាប័នទាំងនេះអាចភ្ជាប់ទៅនឹងទំព័រដើមរបស់យើងបាន      ឱ្យតែតំណភ្ជាប់នោះ ១) មិនមានលក្ខណៈបោកបញ្ឆោត   ២) មិនបង្ហាញការទំនុកបម្រុង  ការអនុម័ត ឬការយល់ព្រមក្លែងក្លាយរបស់ភាគីផ្តល់តំណភ្ជាប់ និងផលិតផល និង/ឬសេវារបស់ភាគីនោះ និង ៣) សមស្របទៅនឹងបរិបទនៃគេហទំព័ររបស់ភាគីផ្តល់តំណភ្ជាប់។
        %p ប្រសិនបើអ្នកជាស្ថាប័នមួយក្នុងចំណោមស្ថាប័នដែលមានរៀបរាប់ក្នុងកថាខណ្ឌ ២ ខាងលើ និងចាប់អារម្មណ៍ចង់តភ្ជាប់ទៅនឹងគេហទំព័ររបស់យើង   អ្នកត្រូវជូនដំណឹងមកយើងខ្ញុំដោយផ្ញើរអ៊ីមែលទៅគេហទំព័រ My Journeys។ សូមបញ្ចូលឈ្មោះរបស់អ្នក ឈ្មោះស្ថាប័ន ព័ត៌មានទំនាក់ទំនង ព្រមទាំង URL នៃគេហទំព័ររបស់អ្នក បញ្ជី URLs ដែលអ្នកចង់តភ្ជាប់ទៅនឹងគេហទំព័ររបស់យើង   និងបញ្ជី URLs ក្នុងគេហទំព័ររបស់យើងដែលអ្នកចង់តភ្ជាប់។ សូមរង់ចាំការឆ្លើយតបក្នុងរយៈពេល ២-៣ សប្តាហ៍។

        %p ស្ថាប័នដែលទទួលបានការអនុម័ត អាចតភ្ជាប់ទៅនឹងគេហទំព័ររបស់យើងដូចខាងក្រោម ៖
        %ul
          %li តាមរយៈការប្រើឈ្មោះសាជីវកម្មរបស់យើង ឬ
          %li តាមរយៈការប្រើប្រព័ន្ធសម្រាប់កំណត់ទីតាំង(locator) ធនធានដូចគ្នាដែលត្រូវបានតភ្ជាប់ ឬ
          %li តាមរយៈការប្រើការពិពណ៌នាផ្សេងទៀតអំពីគេហទំព័ររបស់យើងដែលត្រូវបានតភ្ជាប់ ដែលអាចយល់បានក្នុងបរិបទ និងទម្រង់នៃខ្លឹមសារនៅលើគេហទំព័ររបស់ភាគីតភ្ជាប់។

        %p ការប្រើប្រាស់ឡូហ្គូ ឬស្នាដៃសិល្បៈរបស់គេហទំព័រ My Journeys នឹងមិនត្រូវបានអនុញ្ញាតនោះទេសម្រាប់ការតភ្ជាប់ដោយគ្មានកិច្ចព្រមព្រៀងអាជ្ញាប័ណ្ណពាណិជ្ជសញ្ញា។

        %h4 iFrames
        %p ប្រសិនបើគ្មានការអនុម័តជាមុន និងការអនុញ្ញាតជាលាយលក្ខណ៍អក្សរ អ្នកមិនអាចបង្កើត frames ជុំវិញគេហទំព័របស់យើងដែលផ្លាស់ប្តូរទិដ្ឋភាព ឬភិនភាគនៃគេហទំព័ររបស់យើងបានឡើយ។

        %h4 ការទទួលខុសត្រូវលើខ្លឹមសារ
        %p យើងមិនទទួលខុសត្រូវលើខ្លឹមសារដែលលេចឡើងក្នុងគេហទំព័របស់យើងឡើយ។ អ្នកយល់ព្រមការពារ និងធានាចំពោះយើងប្រឆាំងនឹងការទាមទារទាំងអស់ដែលលេចឡើងក្នុងគេហទំព័ររបស់អ្នក។ មិនអនុញ្ញាតឱ្យមានការបង្ហាញតំណភ្ជាប់ក្នុងគេហទំព័រណាមួយដែលមានលក្ខណៈប្រមាថ អាសអាភាស ឬជាបទឧក្រិដ្ឋ ឬរំលោភ ឬបំពាន ឬតស៊ូមតិឱ្យមានការរំលោភ ឬការបំពានផ្សេងទៀតលើសិទ្ធិរបស់ភាគីទីបី។

        %h4 ឯកជនភាពរបស់អ្នក
        %p
          សូមអានគោលនយោបាយឯកជនភាព
          = link_to 'Privacy Policy', privacy_policy_path
          ។

        %h4 ការរក្សាសិទ្ធិ
        %p យើងរក្សាសិទ្ធិក្នុងការស្នើឱ្យអ្នកលុបចោលតំណភ្ជាប់ទាំងអស់         ឬតំណភ្ជាប់ណាមួយទៅនឹងគេហទំព័ររបស់យើង។ អ្នកយល់ព្រមលុបចោលភ្លាមៗនូវរាល់តំណភ្ជាប់ទៅនឹងគេហទំព័ររបស់យើង ទៅតាមការស្នើសុំ។ ក្រៅពីនេះ យើងសូមរក្សាសិទ្ធិកែប្រែលក្ខខណ្ឌប្រតិបត្តិទាំងនេះ និងគោលនយោបាយស្តីពីតំណភ្ជាប់ដោយមិនជូនដំណឹងជាមុន។ តាមរយៈការតភ្ជាប់ជាបន្តបន្ទាប់ទៅនឹងគេហទំព័ររបស់យើង មានន័យថា អ្នកយល់ព្រមគោរព និងអនុវត្តតាមលក្ខខណ្ឌប្រតិបត្តិស្តីពីតំណភ្ជាប់។

        %h4 ការលុបតំណភ្ជាប់ចេញពីគេហទំព័ររបស់យើង
        %p ប្រសិនបើអ្នកយល់ថា តំណភ្ជាប់ណាមួយក្នុងគេហទំព័ររបស់យើង មានលក្ខណៈបំពានដោយសារហេតុផលណាមួយ អ្នកអាចទាក់ទង និងជូនដំណឹងមកយើងខ្ញុំបានគ្រប់ពេលវេលា។ យើងនឹងពិចារណាសំណើសុំលុបចោលតំណភ្ជាប់ ប៉ុន្តែយើងគ្មានកាតព្វកិច្ចឆ្លើយតបទៅអ្នកដោយផ្ទាល់ឡើយ។
        %p យើងមិនធានា ភាពត្រឹមត្រូវ ភាពពេញលេញ ឬសុក្រឹតភាពនៃព័ត៌មានក្នុងគេហទំព័រនេះឡើយ ហើយយើងមិនសន្យាធានាថា គេហទំព័រនេះនៅតែអាចប្រើបាន ឬសន្យាថា សម្ភារៈក្នុងគេហទំព័រនេះមានបច្ចុប្បន្នភាពនោះទេ។
        %h4 ការបដិសេធមិនទទួលខុសត្រូវ
        %p ទៅតាមការអនុញ្ញាតដោយច្បាប់ជាធរមាន យើងនឹងផាត់ចេញនូវរាល់ភាពជាតំណាង ការធានា និងលក្ខខណ្ឌដែលពាក់ព័ន្ធនឹងគេហទំព័ររបស់យើង និងការប្រើប្រាស់គេហទំព័រនេះ។ ការបដិសេធមិនទទួលខុសត្រូវនេះ នឹងមិន ៖

        %ul
          %li រឹតត្បិត ឬផាត់ចេញការទទួលខុសត្រូវរបស់យើង ឬការទទួលខុសត្រូវរបស់អ្នកចំពោះការស្លាប់ ឬរបួសផ្ទាល់ខ្លួន

          %li រឹតត្បិត ឬផាត់ចេញការទទួលខុសត្រូវរបស់យើង ឬការទទួលខុសត្រូវរបស់អ្នកចំពោះការក្លែងបន្លំ ឬភាពជាតំណាងក្លែងក្លាយ

          %li រឹតត្បិតការទទួលខុសត្រូវរបស់យើង ឬការទទួលខុសត្រូវរបស់អ្នក តាមរបៀបដែលមិនត្រូវបានអនុញ្ញាតដោយច្បាប់ជាធរមាន ឬ
          %li ផាត់ចេញការទទួលខុសត្រូវរបស់យើង ឬការទទួលខុសត្រូវរបស់អ្នក ដែលអាចមិនត្រូវបានផាត់ចេញក្រោមច្បាប់ជាធរមាន។
        %p ដែនកំណត់ និងការហាមឃាត់ការទទួលខុសត្រូវដូចមានចែងក្នុងផ្នែកនេះ និងផ្នែកផ្សេងទៀតនៃការបដិសេធមិនទទួលខុសត្រូវនេះ ១) ជាកម្មវត្ថុនៃកថាខណ្ឌមុន និង ២) គ្របដណ្តប់លើការទទួលខុសត្រូវទាំងអស់ដែលស្តែងឡើងក្រោមការបដិសេធមិនទទួលខុសត្រូវនេះ រួមទាំងការទទួលខុសត្រូវដែលស្តែងឡើងក្នុងកិច្ចសន្យា ក្នុងកំហុស និងសម្រាប់ការរំលោភភារកិច្ចក្នុងលក្ខន្តិកៈ។
        %p ដរាបណាគេហទំព័រនេះ និងព័ត៌មាន និងសេវាក្នុងគេហទំព័រនេះត្រូវបានផ្តល់ជូនដោយមិនគិតថ្លៃ យើងនឹងមិនទទួលខុសត្រូវលើការបាត់បង់ ឬការខូចខាតណាមួយឡើយ។
