.field-type-wrapper
  .flex-row
    .flex1
      .field-type-list{'data-field_type' => 'Questions::SelectOne'}
        %i.far.fa-dot-circle.icon
        Select one

      .field-type-list{'data-field_type' => 'Questions::SelectMultiple'}
        %i.fas.fa-list-ul.icon
        Select Multiple

      .field-type-list{'data-field_type' => 'Questions::Result'}
        %i.fas.fa-cash-register.icon
        Result
