#abouts-show {
  .medium-logo {
    width: 350px;
  }
  .small-logo {
    height: 80px;
    margin: 0 10px;
  }
  .spotlight-logo {
    width: 400px;
  }

  .funded-by-logo {
    display: flex;
    align-items: center;
  }
}
