.categories {
  .header {
    padding: 0.75rem;
    border-top: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
  }

  .item {
    padding: 0.75rem;
    border-top: 1px solid #e3e6f0;
  }

  .name {
    min-width: 400px;
  }

  .depth-1 {
    padding-left: 2rem;
  }
  .depth-2 {
    padding-left: 4rem;
  }
  .depth-3 {
    padding-left: 6rem;
  }
}

// Image and icon
.image-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  &.thumbnail {
    width: 40px !important;
    height: 40px !important;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .file_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    opacity: 0;

    .file_avata {
      height: 100%;
    }
  }

  .btn-delete {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 2px;
  }

  .pointer {
    cursor: pointer;
  }

  .program_remove_logo {
    position: absolute;
    left: -100%;
  }
}
