#survey_forms-new,
#survey_forms-edit,
#survey_forms-create,
#survey_forms-update {
  .section {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;

    legend {
      font-size: 16px;
      width: auto;
    }

    .remove-section {
      margin-bottom: 10px;
    }
  }

  .fieldset legend {
    top: -11px;
    left: 70px;
    background-color: #F8F9FC;
  }
}

.tag {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #E5E5E5;
}
