#terms_and_conditions-index {
  p {
    font-size: 1.15em;
    color: #505050;
  }

  h4 {
    font-weight: bold;
    text-transform: uppercase;
  }

  .main-content {
    max-height: 680px;
    overflow-y: scroll;
  }

  .date-revise {
    font-size: 1em;
    color: #2d8e99;
  }
}
