= render "shared/headers/progress_arrow_header", title: t("shared.importing_wizard", name: t("sidebar.video"))

= render "shared/forms/wizard_form", cancel_url: videos_path, sample_url: '/sample/video.xlsx', item: @batch, form_url: video_importers_path
